
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg-image.jpeg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #073af1;
    color: white;
    padding: 1em;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #088ac1;
    padding: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

section {
    padding: 2em;
    color: white;
    font-family: 'Monotype Corsiva Regular';
}
footer {
    background-color: #073af1;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: auto;
}